* {
    background-color: rgb(208, 106, 208);
    font-family: "Rubik", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.login-img {
    height: 100vh;
    width: 600px;
}
